ACTION=="add", SUBSYSTEM=="net", KERNEL=="eno*" RUN+="/usr/sbin/ethtool -s %k wol d"
ACTION=="add", SUBSYSTEM=="net", KERNEL=="wlo*", RUN+="/usr/bin/iw dev %k set power_save on"
