[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/live/Desktop/install-vapour-os.desktop]
row=7
col=0

[2023-11-26-18-58-43-00]
row=3
col=0

[79276359-0d29-4327-9794-e647dacd64f9]
row=2
col=0

[CE2EB8E82EB8CAAB]
row=1
col=0

[7714-AB28]
row=8
col=0

[339A-4715]
row=0
col=0

[Wastebasket]
row=4
col=0

[/]
row=5
col=0

[/home/live]
row=6
col=0

