[Unit]
Description=Configure hardware

[Service]
Type=oneshot
Restart=no
RemainAfterExit=no
ExecStart=/usr/lib/vapour-os/hwsetup

[Install]
WantedBy=rescue.target
WantedBy=multi-user.target
WantedBy=graphical.target
