[Unit]
Description=Vapour OS auto updater
After=network-online.target

[Service]
ExecStart=/opt/vapour-os/autoupdate/checkupdates
Nice=19
KillMode=process
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
