# Set the HDD spin-down delay to 5 minutes
ACTION=="add|change", KERNEL=="sd[a-z]", ATTRS{queue/rotational}=="1", RUN+="/usr/bin/hdparm -S 60 -B 60 /dev/%k"
ACTION=="add|change", KERNEL=="hd[a-z]", ATTRS{queue/rotational}=="1", RUN+="/usr/bin/hdparm -S 60 -B 60 /dev/%k"
