[Desktop Entry]
Type=Application
Name=Install Vapour OS
Comment=Install Vapour OS on your computer
Icon=vapour-os
Exec=sudo install-vapour-os
Categories=System;
Terminal=true
