[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Vapour OS Installer
Comment=Install Vapour OS on your computer
Exec=sudo vapour-os-installer-gui
Categories=System;
Terminal=true
