[Unit]
Description=Set brightness to minimum (0.5%) if it is too low

[Service]
Type=simple
ExecStart=/opt/vapour-os/min_brightness

[Install]
WantedBy=multi-user.target
